/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #74c0fc

- Tints:
// light blues
#f1f9ff
#edf7ff
#a5d8ff


//browns
#EFE2B2
#edebe9
#e5d1c0

- Shades: 
// light blues
#5d9aca
#467397

//browns
#4f3424
#5A2C22
#BD8C61
- Accents:
#84563C 
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
 hsla(23, 18%, 38%, 0.15);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

margin-bottom: 4.8
gap: 2.4 ,9.6rem
padding-left: 9.6rem
*/

html {
  font-size: 62.5%;
  /* scroll-behavior: smooth; */
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  position: relative;
  overflow-x: hidden;
}

/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/

h1,
h2,
h3 {
  font-family: 'Cookie', cursive;
  color: #61483a;
}

h2 {
  font-size: 6.2rem;
}

h3 {
  font-size: 5.2rem;
}

p {
  color: #61483a;
  font-size: 1.6rem;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(70, 115, 151, 0.8);
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.btn,
.btn:link,
.btn:visited {
  background-color: #f1f9ff;
  border: none;
  border-radius: 50% 10%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #5d9aca;
  display: inline-block;
  font-family: inherit;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
  padding: 1.6rem;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.btn:hover,
.btn:active {
  background-color: #5d9aca;
  color: #f1f9ff;
}

.grid {
  display: grid;
  column-gap: 2.4rem;
  row-gap: 1.6rem;
}

.grid--2-col {
  grid-template-columns: repeat(2, 1fr);
}
.grid--2-col-menu {
  grid-template-columns: repeat(2, 1fr);
}

.grid-center {
  align-items: center;
}

.cta-header {
  text-align: center;
}

.icon {
  color: #467397;
  font-size: 2.4rem;
  padding-left: 1rem;
  text-align: center;
}

.margin-bottom {
  margin-bottom: 2.4rem;
}
