/*****************************/
/* HEADER */
/*****************************/

.header {
  display: block;
  padding-bottom: 1rem;
}

.logo {
  display: flex;
  justify-content: center;
  padding-bottom: 0.5rem;
}

.logo_img {
  width: 10%;
}

.navigation {
  text-decoration: none;
}

.nav_list {
  display: flex;
  gap: 4rem;
  font-size: 1.8rem;
  font-weight: 500;
  justify-content: center;
  list-style: none;
  text-transform: uppercase;
}

.nav-tab {
  color: #4f3424;
  text-decoration: none;
  transition: all 0.5s;
}

.nav-tab:hover {
  color: #467397;
}

/*****************************/
/* HERO SECTION */
/*****************************/

.hero-section {
  background-image: url(../img/ube-stacked.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  height: 100vh;
  margin-bottom: 4.8rem;
  position: relative;
}

.hero-title {
  font-size: 8rem;
  letter-spacing: 2px;
}

.hero-paragraph {
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
}

.ube {
  color: #aca1d5;
}

.hero-container {
  display: grid;
  align-items: flex-end;
  gap: 9.6rem;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.hero-text-container {
  padding-right: 9.6rem;
}

.btn:link,
.btn:visited {
  background-color: #f1f9ff;
  margin-bottom: 2.4rem;
}

.btn:hover,
.btn:active {
  background-color: #5d9aca;
  color: #f1f9ff;
}

.order-disclaimer {
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.instagram-link {
  color: #f1f9ff;
  text-decoration: none;
  transition: all 0.5s;
}

.instagram-link:hover {
  color: #61483a;
}

/*****************************/
/* MENU SECTION */
/*****************************/

.menu-section {
  margin-bottom: 4.8rem;
}
.menu-container {
  margin-bottom: 3.2rem;
}

.menu-title {
  text-align: center;
  margin-bottom: 2.4rem;
}

.cookie-description {
  margin-bottom: 1.2rem;
}

.pricing {
  color: #467397;
  font-size: 1.8rem;
  font-weight: 600;
}

.heart {
  color: #467397;
  font-size: 2.4rem;
  text-align: center;
}

.cookie-img {
  cursor: pointer;
  transition: all 0.8s;
  width: 100%;
}

.cookie-img:hover {
  transform: scale(1.1);
}

.img-text-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.snickerdoodle,
.cookies-and-cream,
.chocolate-chip {
  width: 85%;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*****************************/
/* ABOUT SECTION */
/*****************************/

.about-section {
  background-color: #f1f9ff;
  margin-bottom: 4.8rem;
}

.ube-crinkle-header {
  border-radius: 2rem;
  width: 100%;
}

.about-img-box {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 4.8rem;
}

.about-title {
  margin-bottom: 2.4rem;
}

.about-text {
  font-size: 1.8rem;
}

/*****************************/
/* CTA SECTION */
/*****************************/

.cta-section {
  background-color: #edebe9;
}

.cta-container {
  padding: 3.6rem;
}

.instagram {
  text-align: center;
}

.instagram-logo {
  text-align: center;
  margin: auto;
  font-size: 4.4rem;
  transition: all 0.3s;
}

.instagram-logo:hover {
  color: #61483a;
  font-size: 5.2rem;
}
.slider-box {
  max-width: 50rem;
  height: 50rem;
  /* margin: auto; */
  position: relative;
  overflow: hidden;
}

.slide {
  display: flex;
  align-items: baseline;
  justify-content: center;
  height: 40rem;
  margin-top: 3.6rem;
  position: absolute;
  top: 10rem;
  width: 100%;

  transition: transform 1s;
}

.slide > img {
  border-radius: 50px;
  height: 75%;
  width: 100%;
  object-fit: cover;
}

.slider_btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #61483a;
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  font-size: 2.4rem;
  cursor: pointer;
}

.btn_left {
  left: 6%;
  transform: translate(-50%, 50%);
}

.btn_right {
  right: 6%;
  transform: translate(50%, 50%);
}

.dots {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7);
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: #fff;
  opacity: 1;
}

/* Pre Order Form */
.form-box {
  background-color: #f1f9ff;
  border-radius: 30% 10%;
  padding: 5.2rem;
}

.form-heading {
  padding: 2.4rem;
  text-align: center;
}

.cta-form label {
  color: #61483a;
  font-size: 1.6rem;
}

.cta-form select,
.cta-form input {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: hsla(23, 18%, 38%, 0.15);
  border-radius: 1rem;
  color: #61483a;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  padding: 1.2rem;
  width: 100%;
}

.cta-form input::placeholder {
  color: #444;
}

.cta-form textarea {
  background-color: hsla(23, 18%, 38%, 0.15);
  border-radius: 1rem;
  margin-bottom: 1.2rem;
}

textarea {
  color: #61483a;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-size: 1.8rem;
  padding: 1.2rem;
  resize: none;
  width: 100%;
}

.send-btn:hover {
  color: #fff;
  background-color: hsla(23, 18%, 38%, 0.5);
  transition: all 0.5s ease-in-out;
}

/*****************************/
/* FOOTER */
/*****************************/

.footer {
  background-color: #f1f9ff;
  padding: 9.6rem 0;
}

.grid-footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 2.4rem;
}

.footer-logo_img {
  width: 40%;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  list-style: none;
  margin-bottom: 1.2rem;
}

.copyright,
.developed-by {
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  list-style: none;
}

.footer-link:link,
.footer-link:visited {
  color: #4f3424;
  font-style: inherit;
  font-size: 1.6rem;
  text-decoration: none;
}

.footer-link:hover,
.footer-link:active {
  color: rgba(79, 52, 36, 0.7);
}
